extends header

block content
    .container.pushTop
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
            h3 Min utbildning
            p.
                Visste inte vad jag ville studera på gymnasitet, men datorkunskap är ju alltid kul
                så jag valde Teknik - IT vid John Bauer I Växjö. Det var här jag blev introducerad
                till programmering, och lärde mig grunderna i HTML, CSS och C#. Eftersom programmering
                var intressant och roligt så läste jag även programmering (C#) i mina tillvals kurser.

            p.
                Nu har jag gått tre år på Blekinge Tekniska Högskola och känner att jag fortfarande inte vet vad
                jag ska göra efter utbildningen. Jag trivs på skolan och vi är ett gäng på 5-6 stycken som brukar arbeta ihop
                och tentaplugga vilket har fungerat kanon! I och med kurser, skolprojekt och sommarjobb på mjukvaruföretag
                så har jag kommit i kontakt med allt fler utvecklingsmiljöer och flera olika språk.

        .col-xs-12.col-sm-12.col-md-6.col-lg-4
            h3 Favorit språk?
            p.
                Det finns alltid språk att testa på, och dyka djupare i. Jag har
                programmerat i assembler, C#, C++, C, Java, Python och Javascript. Fram tills
                innan sommaren hade jag en liten crush i javascript. Främst för att
                det är relativt lätt att lära sig och förstå, plus att JQuery bara förstärkte den känslan.
                Detta gällde för min del på clientsidan tills jag upptäckte nodejs och express som denna servern bygger på.
            p.
                Under sommaren har jag även testat på Python och jag måste säga att det är helt klart favoriten nu.
                pip paket hanterare är praktiken samma som node paket hanterare (npm). Vet man vad man ska ha så fungerar det fint.
                Jag gillar Python på grund av att man helt tagit bort onödiga parenteser och semikolon och ersatt det med indentering. Love it!
                Sen så kan man välja att skriva objekt orienterat och / eller event baserat vilket alltid är välkomnande.

        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          p(style='margin-top:30px')
            img(src='../img/python-logo@2x.png', width='100%')
            img(src='../img/so-logo.png', width='30%')
            img(src='../img/github-logo.png', width='30%')
            img(src='../img/atom-logo.png', width='100%' align='right')
        .col-xs-12.col-sm-12.col-md-12.col-lg-12p.hidden-xs.hidden-sm
          h3 Ladok
          hr
        .col-xs-12.col-sm-12.col-md-8.col-lg-8p.hidden-xs.hidden-sm
            img(src='../img/cert-page-001.jpg', width='80%')
            img(src='../img/cert-page-002.jpg', width='80%')
        .col.xs-12.col-sm-12.col-md-4.col-lg-4
          p.
            Jag går Civilingenjörs programmet i data och elektroteknik, (Master of Science in Computer and Electrical Engineering),
            vid BTH och har två år kvar av min utbildning.
          hr
          p.hidden-xs.hidden-sm.
            Som du kan se till vänster består utbildningen till stor del utav matematik med inslag av kreativ problemlösning
            samt teoretiska kurser om hur information, rent fysikaliskt, flödar och hur man behandlar den. En pdf av intyget hittar du #[a(href='/cert.pdf') här]

          p.hidden-md.hidden-lg.
            Utbildningen består till stor del utav matematik med inslag av kreativ problemlösning
            samt teoretiska kurser om hur information, rent fysikaliskt, flödar och hur man behandlar den. En pdf av intyget hittar du #[a(href='/cert.pdf') här]
          hr
          p.
            Skolan ger utrymme för tre intressanta områden: Matematik, Programmering, Teknikhistoria och forskning. Det härliga med
            matematik är att logiskt tänkade och systematisk följande av lagar genererar resultat. Programmering är liknande matematiken
            men skilljer sig avsevärt i det anseendet att man inte vet exakt hur resultatet ska se ut. Detta gör att programmerare flitigt utövar
            trial-and-error. Då uppstår risken att man går vidare till nästa problem när det tidigare blir löst, även ifall programmeraren
            inte är säker på att lösningen är korrekt.
          p.
            För att minimera påverkan av dessa fel som kommer dyka upp så borde man, i varje projekt, använda test-funktioner/klasser.
            Enligt min åsikt bör man inte lägga för stor tid på design av produkten. En övergripande bild av strukturen ska finnas beskriven.
            Dokumentation av källkod bör finnas som docstrings och annan dokumentation kan ske under tiden som projektet pågår eller när all
            funktionallitet är klar. Jag valde till en kurs i grundläggande verifiering för att lära mig mer om hur man testar system.
