extends header

block content
  .container.pushTop
    .col-sx-12.col-sm-8.col-md-8
      article
          header
              h3 Jesper hallborg
          p.
            Kommer ursprungligen från Växjö, Småland och har min familj där.
            Som liten var jag besatt av att bygga med lego! Så här i efterhand tror jag
            att jag behövde göra något kreativt, utforska, testa nya ideér och så klart ha
            roligt på vägen.
          hr
          p.
            Lego byttes ut mot kod. Det fina med programmering är att det finns oändliga
            sätt att bygga applikationer för att varje byggsten kan designas efter vilket
            behov som finns. En kund behöver inte veta allt som hen behöver eller vill få
            ut av sin applikation. Byggstenarna kan alltid modeleras om även om de redan
            infinns i programmet. Just därför arbetar självklart agilt när jag befinner mig i
            stora som små projekt.
          hr
          p.
            Efter att jag slutat gymnasiet flyttade jag till Karlskrona tillsammans med
            min flickvän Elin. Här har jag bott sen dess tillsammans med våra två katter.
            Till vardags studerar jag till Civilingenjör i datateknik vid Blekinge Tekniska Högskola,
            och har två år kvar på utbildningen. När man inte pluggar så spenderar jag en del framför
            datorskärmen där jag antingen spelar eller jobbar på egna små-projekt. Det senaste av dessa
            projekten är att bygga en webbapplikation i python med flask. I och med framsteg
            hoppas jag kunna lägga upp tjänsten på denna servern så småning om.
          hr
    .col-xs-12.col-sm-4.col-md-4
      figure
        img(src = '../img/me.jpg' width='100%' alt = "pic of Jesper")
