extends header

block content
    .container.pushTop
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
            h3 Erfarenheter från industrin
            p.
              Inom programmering är det främst två företag jag har jobbat hos.
              Det är #[a(href="http://www.softhouse.se") Softhouse] och
              #[a(href="http://www.ericsson.com") Ericsson]. Både i Karlskrona.
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
            br
            br
            img(src='../img/softhouse_logotyp.png', width='70%')
            br
            br
            p.
              På Softhouse jobbade
              jag i ett scrum-team på fem personer i ett studentprojekt. Vi jobbade på en prototyp
              för att samla in data och visa det visuellt. Då jobbade jag med teknikerna
              Nodejs, javascript, css, html och #[font(color='#0ed40e') MySQL] och #[font(color='#0ed40e') InfluxDB].
              Med dessa verktyg designade och implementerade vi
              #[li RESTful API i nodejs]
              #[li Simulera flöde av data]
              #[li Kopplingar Mellan databaser - server - client]
              #[li webdesign (frontend)]
              #[design av relationsdatabas]
              #[design av timeseriesdatabas]
            p.
              Jag trivs verkligen att arbeta i scrum och är inte skygg till nya ideér och ändringar som följer.
              I framtiden vill jag jobba agilt som utvecklare eller som projektledare.


        .col-xs-12.col-sm-12.col-md-4.col-lg-4
            img(src='../img/ericsson-logo.jpg', width='70%')
            p.
              På Ericsson jobbade jag på ett litet projekt där vi bara var
              två personer. Projektet gick ut på att samla in information om Ericssons 3PP:er
              Där jobbade jag med python, javascript, css
              , html och #[font(color='#0ed40e') MySQL]. I samma projekt används också ett maven-plugin för att samla in datan ifrån
                Ericssons repositories. Då utvecklade jag
                #[li RESTful API i python med flask]
                #[li webdesign (frontend)]
                #[li maven applikation]
                #[li design av relationsdatabas]

            p.
                Efter detta jobb, som var under sommaren 2015, fick jag möjligheten
                att jobba vidare med projektet under min studietid 2015-2016.
            p.
              RESTful API:n och databaser, som #[font(color='#0ed40e') MySQL],
              #[font(color='#0ed40e') mariadb] är jag bekväm i.
              Nästa databas som jag skulle vilja jobba med är #[font(color='#0ed40e') Cassandra]
              eller något liknande. Hanteringen av data är viktigt, men också roligt!
