extends header

block content
  .container.pushTop
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      article
          p.
            Vad har jag då använt mig av för att visa allt
            detta trevliga. Hårdvaran är en gammal HP dator som jag använde
            under gymnasietiden. Jag kör ubuntu 64 bitar i en virituell miljö
            som server, kan ju hända att man vill sätta upp flera servrar på samma hårdvara
          hr
          p.
            Jag använder mig utav #[a(href = 'http://www.citynetwork.se') citynetworks] DNS-server
            för att styra om trafiken från hallb.org till rätt IP. När requesten väl kommit fram
            så hanteras den via nginx. Just nu dirigeras trafik via nginx till två separata nodejs processer.
          hr
          p.
            Webservern är byggd på expressjs som i sin tur bygger på #[a(href = 'http://nodejs.com') nodejs].
            Det betyder att man inte behöver hoppa mellan språk för serversida och klientsida, vilket kan
            vara ganska praktiskt. Som det ser ut just nu föredrar jag python  på serversidan, men det går snabbare
            att slänga ihop något med expressjs. Det är här routing av url sker och även annat standard API hantering.
            För dynamik på clietsidan använder jag JQuery utöver standardbiblioteken. För att slippa krabba med ett virrvarr
            av taggar använder jag Jade templating language för att snappt slänga ihop html-sidor, men behåller hederliga css-filer
            för styling utöver bootstraps egna.
          hr
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      article
        figure.col-sm-12.col-md-12.col-lg-12
          p.col-sm-6.col-md-6.col-lg-6
            #[img(src = '../img/nginx.png', alt = ' a picture of nginx logo', width = '80%')]
          p.col-sm-6.col-md-6.col-lg-6
            #[img(src = '../img/nodejs.png', alt = 'a picture of nodejs logo', width = '80%')]

        figure.col-sm-12.col-md-12.col-lg-12
          p.col-sm-6.col-md-6.col-lg-6
            #[img(src = '../img/jade.svg', alt = ' a picture of Jade logo')]
          p.col-sm-6.col-md-6.col-lg-6
            #[img(src = '../img/bootstrap.png', alt = 'a picture of boostrap logo')]

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      article
        p
          #[img(src = '../img/hallborg_server.png', alt = 'server topology', width = '50%')]
