body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
hr {
    border:1 solid #c4c4c4;
}
/*
TOP
*/
.pushTop {
  margin-top:30px;
}
/*
MIDDLE
*/
.wellTop,.wellBottom,.wellMiddle {
  background-color:#F9FAF7;
  border-color:#878787;
  box-shadow: 0 0 0 0;
}
.wellTop {
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}
.wellMiddle {
  border-radius:0;
}
.wellBottom {
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
}
.right {
  float:right;
}

.left {
  float:left;
}
.wrapper {
  min-height:100%;
  padding:30px;
  margin:0 auto ;
}
/*
BOTTOM
*/
.footer {
height:30px;
padding:6px;
background-color:#D3D3D3;
text-align:center;
}

.push {
  margin-top:100px;
}
